* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: white;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    top: 15px;
    border-radius: 10px;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */
/* Start Header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 40px;
    width: 1110px;
    background-color: rgb(168 226 126);
}

header .container .logo .text {
    font-size: 30px;
    color: black;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



header nav ul {
    position: absolute;
    display: flex;
    left: 590px;
    width: 318px;
    height: 27px;
    align-items: center;
}

header nav ul::after {
    content: "";
    border-right: solid black 2px;
    height: 20px;
    position: relative;
    top: 0;
}

header nav ul li a {
    display: block;
    color: black;
    text-decoration: none;
    transition: 0.3s;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 30px 25px;
}

header nav .icon i {
    padding: 0 10px;
    color: black;
}

@media (max-width: 767px) {
    header .container {
        width: 600px;
        left: 6%;

    }

    header nav ul {
        left: 325px;
    }

    header nav ul li a {
        font-size: 18px;
        padding: 3px 9px;
    }

    header .icon {
        display: none;
    }
}
