:root {
    --main-color: rgb(168 226 126);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: white;
}



ul {
    list-style: none;
}



/* End Global Rules */
/* Start Header */
header {
    position: relative;
    left: 0;
    width: 100%;
    z-index: 2;
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    width: 85%;
    background-color: var(--main-color);
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px auto;
    border-radius: 10px;
    margin-bottom: 0;
}

header .container .logo .text {
    font-size: 30px;
    color: black;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



header nav ul {
    display: flex;
    height: 27px;
    align-items: center;

}

header nav ul::after {
    content: "";
    border-right: solid black 2px;
    height: 20px;
    position: relative;
    top: 0;
}

header nav ul li a {
    display: block;
    color: black;
    text-decoration: none;
    transition: 0.3s;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}



header nav ul li {
    margin: 10px;
}

header nav .icon i {
    padding: 0 10px;
    color: black;
}

header .links {}

@media (min-width:100px) and (max-width: 768px) {
    header nav .icon {
        display: none
    }



    header .links {
        position: relative;
    }

    header .links:hover .iconn span:nth-child(2) {
        width: 100%;
    }

    header .links .iconn {
        width: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    header .links .iconn span {
        background-color: #333;
        margin-bottom: 5px;
        height: 2px;

    }

    header .links .iconn span:first-child {
        width: 100%;
    }

    header .links .iconn span:nth-child(2) {
        width: 60%;
        transition: 0.3s;
    }

    header .links .iconn span:last-child {
        width: 100%;
    }

    header .links ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #f6f6f6;
        position: absolute;
        right: 0;
        min-width: 200px;
        top: calc(100% + 15px);
        display: none;
        z-index: 1;
        height: 110px;
    }

    header .links ul::before {
        content: "";
        border-width: 20px;
        border-style: solid;
        border-color: transparent transparent #f6f6f6 transparent;
        position: absolute;
        right: 0px;
        top: -37px;
    }

    header .links:hover ul {
        display: block;
    }

    header header nav .shop,
    header nav .face {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #222;
        transition: 0.3s;
    }

    header .links ul li a:hover {
        padding-left: 25px;

    }

    header .links ul li:not(:last-child) a {
        border-bottom: 1px solid #ddd;
    }

    header nav ul::after {
        display: none;
    }


}



/* start top-home  */
.top-home .container button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: 1px solid white;
    background-color: hsl(328deg 95% 43% / 0%);
    overflow: hidden;
    transition: color 0.4s ease-in-out;
    border-radius: 6px;
}

.top-home .container button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: hsl(328, 95%, 43%);
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

.top-home .container button:hover {
    cursor: pointer;
    color: white;
}

.top-home .container button:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}

.top-home .container button a {
    font-weight: bold;
    background-color: rgb(168 226 126 / 60%);
    color: black;
    padding: 15px;
    border-radius: 6px;
    position: absolute;
    left: 8px;
    top: 0px;
}

.top-home {
    margin-top: 10px;
}

.top-home .container {}


.top-home .container .ph1 {
    display: flex;
    justify-content: center;

}

.top-home .container img {
    width: 1248px;
    height: 646px;
}

.top-home .container button {
    position: absolute;
    width: 125px;
    height: 50px;
    left: 155px;
    top: 450px;
}

.top-home .container .text {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 395px;
    height: 94px;
    left: 155px;
    top: 348px;
    justify-content: space-between;
    border-radius: 6px;
    color: black;
}

.top-home .container .text h1 {
    width: 250px;
    height: 43px;
    margin: 0;
    background-color: rgb(168 226 126 / 60%);
    padding-left: 35px;
    border-radius: 6px;
}

.top-home .container .text h2 {
    width: 200px;
    height: 43px;
    margin: 0;
    background-color: rgb(168 226 126 / 60%);
    padding-left: 35px;
    display: flex;
    align-items: center;
    border-radius: 6px;


}

@media (min-width:100px) and (max-width: 768px) {
    .top-home .container .text {
        left: 20px;

    }

    .top-home .container button {
        left: 20px;

    }
}

/* end top-home */
