* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: white;
}

ul {
    list-style: none;
}



/* End Global Rules */
/* Start Header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    width: 85%;
    background-color: rgb(168 226 126);
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px auto;
    border-radius: 10px;
}

header .container .logo .text {
    font-size: 30px;
    color: black;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



header nav ul {
    display: flex;
    height: 27px;
    align-items: center;
}

header nav ul::after {
    content: "";
    border-right: solid black 2px;
    height: 20px;
    position: relative;
    top: 0;
}

header nav ul li a {
    display: block;
    color: black;
    text-decoration: none;
    transition: 0.3s;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

header nav ul li {
    margin: 10px;
}

header nav .icon i {
    padding: 0 10px;
    color: black;
}

@media (max-width: 768px) {
    header nav .icon {
        display: none
    }

    header nav .shop,
    header nav .fa {
        display: none;
    }


}
